<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>communityManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.itfq.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.itfq.servlet.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>queryAsscoiationServlet</display-name>
    <servlet-name>queryAsscoiationServlet</servlet-name>
    <servlet-class>com.itfq.servlet.queryAsscoiationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryAsscoiationServlet</servlet-name>
    <url-pattern>/queryAsscoiationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joinAssociation</display-name>
    <servlet-name>joinAssociation</servlet-name>
    <servlet-class>com.itfq.servlet.joinAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinAssociation</servlet-name>
    <url-pattern>/joinAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>activityRegistration</display-name>
    <servlet-name>activityRegistration</servlet-name>
    <servlet-class>com.itfq.servlet.activityRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activityRegistration</servlet-name>
    <url-pattern>/activityRegistration</url-pattern>
  </servlet-mapping>
</web-app>